node-red/EMA.json
[{"id":"da5ae6917256f872","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f33f5f0fff6874b3","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"596481dea98ed979","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"fb65ed18e772957e","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"64f4635e02ea4ddb","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"85daeb8d8271430f","type":"twilio-api","name":"EMA","sid":"AC8fd46300964e326236901fe66372a709","from":"+15673472704"},{"id":"83437116a77c8870","type":"twilioConfig","name":"twilioConfig"},{"id":"37f5d64f5f50ce7c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"706d6522c5fc62f4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ce713a09c9a3e89c","type":"ui_group","name":"Default","tab":"37f5d64f5f50ce7c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f8d3d88ffcd5557a","type":"inject","z":"da5ae6917256f872","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":260,"y":80,"wires":[["e32439e60b6f5e74"]]},{"id":"e32439e60b6f5e74","type":"random","z":"da5ae6917256f872","name":"","low":1,"high":"20","inte":"true","property":"payload","x":460,"y":80,"wires":[["c3761ca9cb313741"]]},{"id":"c3761ca9cb313741","type":"mqtt out","z":"da5ae6917256f872","name":"","topic":"EMA/accelz","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64f4635e02ea4ddb","x":700,"y":80,"wires":[]},{"id":"26c969574e151d63","type":"debug","z":"f33f5f0fff6874b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":100,"wires":[]},{"id":"776f53a48fb7ac1d","type":"mqtt in","z":"f33f5f0fff6874b3","name":"","topic":"EMA/accelz","qos":"2","datatype":"json","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":210,"y":220,"wires":[["d780c8e7611d511b","fb4e200b7c6592ce"]]},{"id":"d780c8e7611d511b","type":"switch","z":"f33f5f0fff6874b3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":160,"wires":[["20e905e54ce64ded"],[]]},{"id":"7df4171d1565e5e7","type":"inject","z":"596481dea98ed979","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":220,"y":120,"wires":[["b1001c51c4401f66"]]},{"id":"b1001c51c4401f66","type":"moment","z":"596481dea98ed979","name":"","topic":"","input":"payload","inputType":"msg","inTz":"America/Bogota","adjAmount":"1","adjType":"minutes","adjDir":"subtract","format":"","locale":"es-CO","output":"dateFrom","outputType":"msg","outTz":"America/Bogota","x":280,"y":200,"wires":[[]]},{"id":"d5563fe833259efe","type":"debug","z":"596481dea98ed979","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"bb554912ea0bc575","type":"mqtt out","z":"f33f5f0fff6874b3","name":"","topic":"EMA/status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64f4635e02ea4ddb","x":870,"y":180,"wires":[]},{"id":"20e905e54ce64ded","type":"template","z":"f33f5f0fff6874b3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alerta de riesgo!\n\nEl sensor marca: {{payload}} ","output":"str","x":590,"y":80,"wires":[["26c969574e151d63","bb554912ea0bc575","082e0391f362fe97","5032309569853a45"]]},{"id":"5032309569853a45","type":"sms","z":"f33f5f0fff6874b3","name":"sms","message":"","numbers":"+573123776985,+573014961877,+573148663113","throttle":1000,"twilio":"83437116a77c8870","x":790,"y":300,"wires":[[]]},{"id":"fb4e200b7c6592ce","type":"link out","z":"f33f5f0fff6874b3","name":"accelz","links":["c1c3fe70c50bdb44"],"x":355,"y":380,"wires":[]},{"id":"c1c3fe70c50bdb44","type":"link in","z":"596481dea98ed979","name":"accelzout","links":["fb4e200b7c6592ce"],"x":495,"y":400,"wires":[["0486ed922a8a9272"]]},{"id":"63c16aa3ef4d8acc","type":"ui_toast","z":"596481dea98ed979","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":690,"y":320,"wires":[]},{"id":"082e0391f362fe97","type":"link out","z":"f33f5f0fff6874b3","name":"warning","links":["934285f2ba74b5b8"],"x":755,"y":380,"wires":[]},{"id":"934285f2ba74b5b8","type":"link in","z":"596481dea98ed979","name":"warningout","links":["082e0391f362fe97"],"x":495,"y":320,"wires":[["63c16aa3ef4d8acc"]]},{"id":"0486ed922a8a9272","type":"ui_chart","z":"596481dea98ed979","name":"","group":"ce713a09c9a3e89c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":400,"wires":[[]]}]