node-red/flows.json
[
    {
        "id": "ce1a89efb4367372",
        "type": "tab",
        "label": "EMA V5 Lluvia/Distancia",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "317e7208378d1bc1",
        "type": "mqtt in",
        "z": "ce1a89efb4367372",
        "name": "",
        "topic": "lluvia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "64f4635e02ea4ddb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "dc7b5075586ed12c",
                "d2b136beb795c2b9",
                "d81a9503ef52c2b0"
            ]
        ]
    },
    {
        "id": "dc7b5075586ed12c",
        "type": "ui_gauge",
        "z": "ce1a89efb4367372",
        "name": "",
        "group": "ce713a09c9a3e89c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Precipitación diaria acumulada",
        "label": "mm",
        "format": "{{value}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 280,
        "wires": []
    },
    {
        "id": "d2b136beb795c2b9",
        "type": "function",
        "z": "ce1a89efb4367372",
        "name": "",
        "func": "global.set(\"lluvia\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e98685e4733810eb",
        "type": "mqtt in",
        "z": "ce1a89efb4367372",
        "name": "",
        "topic": "lluvia5G",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "64f4635e02ea4ddb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "c982a70461ee01f8",
                "6181a201df2f76a3",
                "1224cc55ff70a535"
            ]
        ]
    },
    {
        "id": "b0f6eb4d6549cd68",
        "type": "mqtt in",
        "z": "ce1a89efb4367372",
        "name": "",
        "topic": "distancia5G",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "64f4635e02ea4ddb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "598e86b3e081ab83",
                "baf369b50c165ccf",
                "db74426f2c361460"
            ]
        ]
    },
    {
        "id": "3d2cc6be644923f5",
        "type": "mqtt in",
        "z": "ce1a89efb4367372",
        "name": "",
        "topic": "distancia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "64f4635e02ea4ddb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 140,
        "wires": [
            [
                "cf1980f3575673f2",
                "3b31dd1abc2d303b",
                "c5e27166f90b8c2f"
            ]
        ]
    },
    {
        "id": "c982a70461ee01f8",
        "type": "function",
        "z": "ce1a89efb4367372",
        "name": "",
        "func": "global.set(\"lluvia5G\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "598e86b3e081ab83",
        "type": "function",
        "z": "ce1a89efb4367372",
        "name": "",
        "func": "global.set(\"distancia5G\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cf1980f3575673f2",
        "type": "function",
        "z": "ce1a89efb4367372",
        "name": "",
        "func": "global.set(\"distancia\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6181a201df2f76a3",
        "type": "ui_gauge",
        "z": "ce1a89efb4367372",
        "name": "",
        "group": "b7f2073d2ca72d08",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Precipitación diaria acumulada",
        "label": "mm",
        "format": "{{value}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "3b31dd1abc2d303b",
        "type": "ui_gauge",
        "z": "ce1a89efb4367372",
        "name": "",
        "group": "ce713a09c9a3e89c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distancia",
        "label": "cm",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1160,
        "y": 200,
        "wires": []
    },
    {
        "id": "baf369b50c165ccf",
        "type": "ui_gauge",
        "z": "ce1a89efb4367372",
        "name": "",
        "group": "b7f2073d2ca72d08",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distancia",
        "label": "cm",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "632cfef01b286d38",
        "type": "comment",
        "z": "ce1a89efb4367372",
        "name": "EMA V5",
        "info": "En este flujo se cuentan con los tópicos correspondientes a la versión 5 de la EMA.\n\nSe cuenta con los tópicos de MQTT de distancia y lluvia tanto para la recepción por Wi-Fi como por GSM.\nLos bloques de color celeste corresponden a los bloques de medidor para la dashboard para la presentación de los datos.\nLos bloques de función cuentan con un código simple que se encarga de guardar la infomación en una variable global\npara poderla almacenar en la tabla de datos y enviar el reporte por correo.",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "1224cc55ff70a535",
        "type": "ui_chart",
        "z": "ce1a89efb4367372",
        "name": "",
        "group": "b7f2073d2ca72d08",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Precipitación diaria acumulada",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "db74426f2c361460",
        "type": "ui_chart",
        "z": "ce1a89efb4367372",
        "name": "",
        "group": "b7f2073d2ca72d08",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Distancia",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d81a9503ef52c2b0",
        "type": "ui_chart",
        "z": "ce1a89efb4367372",
        "name": "",
        "group": "ce713a09c9a3e89c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Precipitación diaria acumulada",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c5e27166f90b8c2f",
        "type": "ui_chart",
        "z": "ce1a89efb4367372",
        "name": "",
        "group": "ce713a09c9a3e89c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Distancia",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "64f4635e02ea4ddb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ce713a09c9a3e89c",
        "type": "ui_group",
        "name": "WIFI",
        "tab": "dbef092eee47c4f0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7f2073d2ca72d08",
        "type": "ui_group",
        "name": "GPRS",
        "tab": "dbef092eee47c4f0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dbef092eee47c4f0",
        "type": "ui_tab",
        "name": "V5",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]